// CSS for About Page
#about-section1 {
  padding: 100px 0;
}

hr {
  border-top: 1px solid $wine;
}

.overlay-about {
  position: absolute;
  background-color: $beige;
  height: 41rem;
  width: 27rem;
  left: -60px;
  top: -50px;
  z-index: -1;
}

.about-line-height {
  line-height: 2rem;
}

.fab {
  color: $dark-grey;
  margin: 0;
}

.social-red {
  color: $wine;
}


.cta-button {
  background-color: transparent;
  border: 1px solid $wine;
  color: $wine;
  margin-bottom: 2rem;

  &:hover {
    background-color: $wine;
    color: $light-grey;
  }
}

@media only screen and (max-width: 900px) {
  .overlay-about {
    display: none;
  }
  #about-section1 {
    padding: 30px 4px 30px 4px;
  }

  .sm-padding {
    padding: 1rem 0 0.5rem 0;
  }
}
