#about-section1 {
  padding: 100px 0;
}

hr {
  border-top: 1px solid $wine;
}

.overlay-about {
  position: absolute;
  background-color: $beige;
  height: 41rem;
  width: 27rem;
  left: -60px;
  top: -50px;
  z-index: -1;
}

@media only screen and (max-width: 650px) {
  .overlay-about {
    display: none;
  }
}
