// Colors
$beige: #FCF9F2;
$light-grey: #F2F2F2;
$dark-grey: #707070;
$wine: #6E1012;

h1, h2, h3, h4, h5, p, a, li {
  color: $dark-grey;
}

.navbar-brand {
  color: $dark-grey;
  margin-right: 0;
  font-size: calc(1em + 1.2vw);
}

#site-title {
  color: $dark-grey;
}

.navbar {
  padding: 20px;
  background-color: transparent;
}

body {
  padding-top: 100px;
}


h1 {
  font-size: 2.2vw;
}

@media only screen and (max-width: 991px) {
  .navbar-toggler {
    position: absolute;
    right: 1.2em;
    top: 1.2em;
    border: 0;
    color: $dark-grey;
  }

  .navbar {
    background-color: $light-grey;
  }

}
