// Colors and basic setup
$beige: #FCF9F2;
$light-grey: #F2F2F2;
$dark-grey: #707070;
$wine: #6E1012;

html, body {
    font-family: 'Roboto Slab', serif;
}

body {
  padding-top: 120px;
}

h1, h2, h3, h4, h5, p, a, li {
  color: $dark-grey;
}

h1 {
  font-size: 2.2vw;
}

a:hover {
  text-decoration: none;
}

.lt-font {
  font-weight: 300;
}



// Navbar contents
#site-title {
  color: $dark-grey;
}

.navbar-brand {
  color: $dark-grey;
  margin-right: 0;
  font-size: 2rem;
}

.navbar {
  padding: 20px;
  background-color: transparent;

  .navbar-nav > li {
      padding: 1rem 1.5rem;

      a {
        text-decoration: none;
        font-weight: 300;
      }
  }
}


// Media Queries for small screen navbar
@media only screen and (max-width: 991px) {
  .navbar-toggler {
    position: absolute;
    right: 0.5rem;
    top: 1.7rem;
    border: 0;
    color: $dark-grey;
  }

  .navbar {
    background-color: $beige !important;

    .navbar-brand {
      font-size: 1.5rem;
    }
  }

  .hero-section {
    padding-top: 0;
  }
}
