.hero-section {
  padding: 50px 0;

  .img-set-3 {
    border: 2px solid $wine;
    outline: 2px solid $wine;
    outline-offset: -9px;
    padding: 15px;
  }

  .box:first-child {
    padding: 30px;
  }

  .box:nth-child(2) {
    padding: 30px 0 30px 0;
  }

  .box:last-child {
    padding: 30px;
  }
}
