.btn-outline-primary {

  a {
    text-decoration: none;
    color: $wine;
  }

  a:hover {
    text-decoration: none;
    color: white;
  }
}

.p-line-height {
  line-height: 2.5rem;
}

.img-set-3 {
    border: 2px solid $wine;
    outline: 2px solid $wine;
    outline-offset: -9px;
}

.bg-grey {
  background-color: $light-grey;
}

.bg-beige {
  background-color: $beige;
}

.p-5-xl {
  padding: 7rem;
}

hr {
  border-top: 2px solid $wine;
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0 2rem;
  width: 2rem;
}

@media only screen and (max-width: 650px) {
  .remove {
    display: none;
  }

  .p-5-xl {
    padding: 4rem;
  }

  hr {
    display: block;
  }
}
