img {
	height: auto;
	max-width: 100%;
	position: relative;
}

figure {
	margin: 0;
}

.image-gallery {
  padding: 6rem 0;
}

.alignfull {
	margin: 32px calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}

.alignwide {
	margin: 32px calc(25% - 25vw);
	max-width: 100vw;
	width: 100vw;
}
